@model Qualifica.Models.Posto

@{
    ViewData["Title"] = "Delete";
    ViewBag.Posto = "active";
}

<h3>Deseja realmente remover este item?</h3>
<div>
    <h4>Posto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.idEspecialidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.idEspecialidade)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Enviar" class="btn btn-default" /> |
        <a asp-action="Index">Voltar para a lista</a>
    </form>
</div>
