@model Qualifica.Models.Alocacao

@{
    ViewData["Title"] = "Details";
    ViewBag.Alocacao = "active";
}


<div>
    <h4>Alocacao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idPosto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.idPosto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.idUsuario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.idUsuario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Inicio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Inicio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Termino)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Termino)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Editar</a> |
    <a asp-action="Index">Voltar para a lista</a>
</div>
